<%= render partial: 'shared/top_wallet' %>
<div class="grid sm:grid-cols-4">
  <%= render partial: 'shared/sidebar' %>
  <div class="col-span-2">
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-xl font-bold leading-none text-black-900">All offers</h1>
      <%= link_to new_user_offer_path, class: "-m-3 flex items-center rounded-md
      p-3 text-base font-medium text-black-900" do %>
      <span class="ml-3 text-blue-800">new offer</span>
      <svg
        class="h-6 w-6 flex-shrink-0 text-gray-400"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v12m6-6H6" />
      </svg>
      <% end %>
    </div>
    <br />
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
      <div class="grid grid-cols-6 bg-gray-100">
        <div class="grid-header col-span-1 text-center">state</div>
        <div class="grid-header col-span-1 text-center">U$ amount</div>
        <div class="grid-header col-span-1 text-center">R$ unit price</div>
        <div class="grid-header col-span-1 text-center">R$ total price</div>
        <div class="grid-header col-span-2 text-center">actions</div>
      </div>
      <% @offers.each do |offer| %>
        <%= render 'offer_line', offer: offer %> 
      <% end %>
    </div>
  </div>
</div>
